---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Not found">
    <h1 class="text-4xl font-medium mb-4 sm:text-5xl">Page not found</h1>
    <h2 class="text-lg text-gray-200 mb-4">You've probably got the wrong link.</h2>

    <ul class="list-disc px-6 py-2">
        <li><a class="bs-link" href="/">Download</a></li>
        <li><a class="bs-link" href="/wiki/">Wiki</a></li>
    </ul>
</Layout>
