---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Page not found" heading=true>
    <p>You've probably got the wrong link.</p>

    <ul class="list-disc px-6 py-2">
        <li><a class="bs-link" href="/">Download</a></li>
        <li><a class="bs-link" href="/wiki/">Wiki</a></li>
    </ul>
</Layout>
