---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import DiscordCard from '../assets/img/discord.webp';
import ModsCard from '../assets/img/mods.webp';
---

<Layout title="Download" classes="text-center">
	<div class="pb-8">
		<h1 class="text-4xl font-medium mb-4 sm:text-5xl">Get more out of Roblox</h1>
		<h2 class="text-lg text-gray-200 mb-4 sm:text-xl">Bloxstrap is an alternative launcher for Roblox that provides additional useful features and functions</h2>
	</div>

	<div class="pb-8">
		<a href="https://github.com/bloxstraplabs/bloxstrap/releases/download/v2.9.1/Bloxstrap-v2.9.1.exe" class="inline-block bg-violet-700 hover:bg-violet-800 transition duration-300 p-4 mb-2 rounded-xl text-lg font-medium ">
			<svg class="inline-block fill-white h-7 pl-1 pr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
				<!--!Font Awesome Free v7.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
				<path class="stroke-current stroke-10" d="M169.4 502.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 402.7 224 32c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 370.7-105.4-105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"/>
			</svg>
			Download for Windows
		</a>
		<p class="mb-6 text-sm text-gray-300"><a class="hover:text-white transition duration-300" href="https://winstall.app/apps/pizzaboxer.Bloxstrap">Or, install with Winget</a></p>
		<p class="mb-2">Bloxstrap requires the <a class="bs-link" href="https://aka.ms/dotnet-core-applaunch?missing_runtime=true&arch=x64&rid=win11-x64&apphost_version=6.0.20&gui=true">Microsoft .NET 6 Desktop Runtime</a> to be installed</p>
		<p class="mb-2"><a class="bs-link" href="/wiki/faq">Frequently asked questions</a></p>
		<p id="notice" class="text-red-400 mb-2 font-medium text-lg hidden">Bloxstrap is only supported for Windows and won't work on your device</p>
	</div>

	<div class="py-8 flex flex-col items-center justify-center gap-x-12 gap-y-6 lg:flex-row">
		<div class="max-w-lg">
			<h1 class="text-2xl font-medium mb-2">Bridging Roblox and Discord</h1>
			<p class="text-gray-200">Share what you're doing among friends with ease, with extensible support for <a class="bs-link" href="/wiki/developers/bloxstraprpc/">developer integration</a>.</p>
		</div>
		<div>
			<Image src={DiscordCard} alt="Screenshots showing Roblox games being shown under a Discord profile" class="mx-auto" />
		</div>
	</div>

	<div class="py-8 flex flex-col items-center justify-center gap-x-12 gap-y-6 lg:flex-row-reverse">
		<div class="flex-1">
			<h1 class="text-2xl font-medium mb-2">Customisation made easier</h1>
			<p class="text-gray-200">Modify local assets without worrying about them being erased by Roblox updates, and with easy importing of <a class="bs-link" href="/wiki/faq#where-can-i-find-mods">community-curated mods</a>.</p>
		</div>
		<div class="flex-1">
			<Image src={ModsCard} alt="Screenshot showing how Bloxstrap can be used to replace the Roblox mouse cursor" class="mx-auto max-w-90" />
		</div>
	</div>
	
	<div class="py-8 flex flex-col items-center justify-center gap-x-12 gap-y-6 lg:flex-row">
		<div class="flex-1">
			<h1 class="text-2xl font-medium mb-2">Free and open source</h1>
			<p class="text-gray-200 mb-2">Bloxstrap's code is available on GitHub and anyone can see inside it, contribute to it, or even make their own version.</p>
			<p><a class="bs-link" href="https://github.com/bloxstraplabs/bloxstrap">github.com/bloxstraplabs/bloxstrap</a></p>
		</div>
		<div class="flex-1 text-left">
			<img class="mb-2" src="https://contrib.rocks/image?repo=bloxstraplabs/bloxstrap" />
			<small class="text-gray-300">Made with <a class="bs-link" href="https://contrib.rocks">contrib.rocks</a></small>
		</div>
	</div>

	<div class="py-12">
		<p class="mb-2">Bloxstrap is digitally code signed for free thanks to the <a class="bs-link" href="https://signpath.org/">SignPath Foundation</a></p>
		<p><a class="bs-link" href="/wiki/info/privacy-policy/">Privacy policy</a></p>
	</div>

	<script is:inline>
		if (!window.navigator.userAgent.includes("Windows NT"))
			document.getElementById("notice").classList.remove("hidden");
	</script>
</Layout>
