---
import "../styles/ads.css";
const { class: className, ...rest } = Astro.props;
---

<section class={className} {...rest}>
    <div class="footer-ads-container">
        {
            /*
        <div class="footer-ad">
            <div style="background-color: white; width: 300px; height: 300px;"></div>
        </div>

        <div class="footer-ad">
            <div style="background-color: white; width: 300px; height: 300px;"></div>
        </div>
        */
        }

        <div class="footer-ad">
            <script
                async
                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7390460488561029"
                crossorigin="anonymous"></script>
            <ins
                class="adsbygoogle"
                style="display:block"
                data-ad-client="ca-pub-7390460488561029"
                data-ad-slot="4235985449"
                data-ad-format="auto"
                data-full-width-responsive="true"></ins>
            <script>
                window.addEventListener("load", function () {
                    (adsbygoogle = window.adsbygoogle || []).push({});
                });
            </script>
        </div>

        <div class="footer-ad">
            <script
                async
                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7390460488561029"
                crossorigin="anonymous"></script>
            <ins
                class="adsbygoogle"
                style="display:block"
                data-ad-client="ca-pub-7390460488561029"
                data-ad-slot="4235985449"
                data-ad-format="auto"
                data-full-width-responsive="true"></ins>
            <script>
                window.addEventListener("load", function () {
                    (adsbygoogle = window.adsbygoogle || []).push({});
                });
            </script>
        </div>
    </div>
</section>
